[submodule "lib/underscore"]
	path = lib/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "lib/backbone"]
	path = lib/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = https://github.com/jquery/qunit.git
[submodule "lib/coffee-script"]
	path = lib/coffee-script
	url = https://github.com/jashkenas/coffee-script.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
